* {
    padding: 0px;
    margin: 0px; 
}

body {
    min-height: 100vh;
    align-items: center;
}

.input-group {
    margin-top: 50px;
    border-radius: 7px;
    background-color: #404b5e41;

    width: 500px;
    height: 350px;
}


#todoInput {
    width: 45%;
    padding: 3px 10px;
    font-size: 13px;

    border: 1px solid #E5E7EB;
    border-radius: 3px;

    background-color: #FFFFFF;
    color: #111827;

    outline: none;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

#todoList li {
    text-decoration: none;
    background-color: #ff7777;
    width: 56%;
    padding: 3px 10px;
    font-size: 13px;

    margin: 3px; 


    display: flex;
    flex-direction: row;
    gap: 8px;

}

#todoList {
    list-style: none;
    color: black;
    padding: 0px;
    margin: 0px;
}

.actions button{
    background-color: #507fe4;
    border: 1px solid #507fe4; 
    color: white; 

    margin: 2px; 
    padding: 3px; 
    border-radius: 3px;
}



h2 {
    color: rgb(29, 24, 24);
    margin: 10px;
}


/* button style  */
#addBtn {
    color: white;
    background-color: green;
    padding: 3px;

    border: 1px solid green;
    border-radius: 3px;
}