* {
    padding: 0px; 
    margin: 0px; 
    /* background-color: red; */
}


h1{
    margin-top: 80px; 
}

input{
    padding: 8px; 
    margin: 2px; 
    border: 0.1px solid black; 
    background-color: rgb(140, 140, 255);
    color: white; 
}

#clear{
    background-color: rgb(247, 55, 55);
}
